:root {
  --bg-color-main: #1d2537;
  --bg-color-dark: #091b35;
  --bg-color-modal: #171e2d;
  --main-color: #87cc14;
  --main-color-hover: #7bb317;
  --answer-incorrect: #f00c0f;
  --modal-button: #464e60;
  --modal-button-hover: #303748;
  --grey-color: #888d95;
  --text-color-main: #212529;
  --text-color-secondary: #676767;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-main);
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--main-color-hover);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  max-height: 100vh;
}

/* Path: css/header.css */

.logo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 80px;
  height: 80px;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}

.logo:hover {
  transform: rotate(-25deg);
}

.background {
  background: var(--bg-color-dark);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  width: 100%;
  height: 100%;
}

.planet-and-stars-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  pointer-events: none;
  z-index: -1;
}

.start-alien-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
}

.goal-image {
  width: 200px;
  margin-top: -42px;
}

@media screen and (max-width: 768px) {
  .start-alien-image {
    width: 120px;
  }

  .goal-image {
    width: 120px;
  }
}

.game-wrapper {
  margin-top: 42px;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timeline {
  background-color: white;
  width: 10px;
  height: 95%;
  z-index: -1;
  border-radius: 10px;
}

.planets {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
}

.planet-btn {
  all: unset;
  cursor: pointer;
  position: relative;
}

.planet-btn img {
  height: 100px;
}

.planet-btn:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.planet.current {
  transform: scale(1.3);
  transition: all 0.1s ease-in-out;
}
.planet.current:hover {
  transform: scale(1.5);
}

.planet.shake {
  animation: shake 1s;
}

/* planet shake animation */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Modal styles */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.modal-container {
  background-color: var(--bg-color-modal);
  color: white;
  padding: 64px;
  max-width: 824px;
  max-height: 100vh;
  border-radius: 12px;
  overflow-y: auto;
  position: relative;
}

.modal-close:before {
  color: white;
  content: "\2715";
  font-size: 32px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: 0;
}

#modal-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
}

#modal-question-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

#modal-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.modal-btn {
  background-color: var(--modal-button);
  color: white;
  font-weight: 700;
  border-radius: 8px;
  padding: 24px;
  font-size: 18px;

  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal-btn:focus,
.modal-btn:hover {
  background-color: var(--modal-button-hover);
  outline: #888d95 1px solid;
}

.modal-btn.correct {
  background-color: var(--main-color);
  transform: scale(1.1);
}

.modal-btn.incorrect {
  background-color: var(--answer-incorrect);
}

#score-text {
  font-size: 24px;
  margin-bottom: 24px;
}

/* modal animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal-overlay {
  animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal-container {
  animation: slideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

/* initial modal  */

.play-btn {
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  border-radius: 8px;
  padding: 24px 64px;
  font-size: 24px;

  transition: background-color 0.25s ease-out,
    -webkit-background-color 0.25s ease-out;
}

.play-btn:hover {
  background-color: var(--main-color-hover);
}

#modal-2-content,
#modal-3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 24px;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

#refresh-btn {
  background-color: transparent;
  color: inherit;
  font-size: 16px;
}

#refresh-btn:hover {
  text-decoration: underline;
}
